.header {
  width: 100vw;
  height: 120px;
  background-color: var(--bg-color2);
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.header__container {
  width: 1590px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.container__logo {
  display: flex;
  gap: 40px;
}