.header__container {
  width: 100vw;
  height: 120px;
  background-color: var(--bg-color2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 32px 165px;
}

.container__logo {
  display: flex;
  gap: 40px;
}